<!DOCTYPE html>
<html lang ="ja">
<head>
  <meta charset="utf-8">
  <title>Scraping new article - NewScrap!</title>
  <meta name="description" content="気になる記事をクラウド一括管理！デジタル時代の新感覚スクラップブック">
  <meta name="keywords" content="新聞,ニュース,Yahoo!ニュース,スクラップ,まとめ,クラウド">
  <meta name="og:type" content="website">
  <meta name="og:title" content="NewScrap!">
  <meta name="og:discription" content="気になる記事をクラウド一括管理！デジタル時代の新感覚スクラップブック">
  <meta name="og:image" content="/imgs/og_img.png">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" type="text/css" href="/cutestrap.css">
  <link rel="stylesheet" type="text/css" href="/main.css">
  <link rel="stylesheet" href="/icon_font/foundation-icons.css">
</head>
  <body>
    <div id="loading">
        <div class="ld-text"><span class="loading"><span>L</span><span>o</span><span>a</span><span>d</span><span>i</span><span>n</span><span>g</span></span>
        </div>
    </div>
    
    <div id="content">
      <nav>
        <h1><img alt="newscrap_logo" src="/imgs/logo_white.png"></h1>
      </nav>
      
      <div class="main">
        <div clas="detail_wrapper">
          <h2>Detail of Article</h2>
          <h3><% @article.title %></h2>
          <div class="icon_wrapper">
            <% if @article.favorite == false do %>
              <i class=".fi-star"></i>
            <% else %>
              <i class=".fi-star colored"></i>
            <% end %>
            <form name="edit" action="/article/<%= @article.id %>/edit" method="post">
              <input><i class="fi-clipboard-pencil"></i></input>
            </form>
            <form name="delate" action="/article/<%= @article.id %>/delete" method="post">
              <input type="summit" name="delate"><i class=".fi-trash"></i></input>
            </form>
          <div>
          <p><%= @article.created_at %></p>
          <a href="//<%= @article.url %>">http://<%= @article.url %></a>
          <p><%= @article.category.name %></p>
          <a href="//www.google.co.jp/"><%= @article.keyword %></a>
          <a href="//www.google.co.jp/"><%= @article.summary1 %></a>
          <a href="//www.google.co.jp/"><%= @article.summary2 %></a>
          <a href="//www.google.co.jp/"><%= @article.summary3 %></a>
          <p><%= @article.content %></p>
          <p><%= @article.comment%></p>
          <a href=""><i class=".fi-x"></i>close</a>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="//googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="/main.js"></script>
  </body>
</html>