<!DOCTYPE html>
<html lang ="ja">
  <head>
    <meta charset="utf-8">
    <title>NewScrap!</title>
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="description" content="気になる記事をクラウド一括管理！デジタル時代の新感覚スクラップブック">
    <meta name="keywords" content="新聞,ニュース,Yahoo!ニュース,スクラップ,まとめ,クラウド">
    <meta name="og:type" content="website">
    <meta name="og:title" content="NewScrap!">
    <meta name="og:discription" content="気になる記事をクラウド一括管理！デジタル時代の新感覚スクラップブック">
    <meta name="og:image" content="/imgs/og_img.png">
    <meta name="twitter:card" content="気になる記事をクラウド一括管理！デジタル時代の新感覚スクラップブック">
    <meta name="twitter:title" content="NewScrap!">
    <meta name="twitter:image" content="/imgs/og_img.png" />
    <link rel="stylesheet" type="text/css" href="/css/cutestrap.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="/icon_font/foundation-icons.css">
  </head>

  <body>
    <div id="loading">
        <div class="ld-text"><span class="loading"><span>L</span><span>o</span><span>a</span><span>d</span><span>i</span><span>n</span><span>g</span></span>
        </div>
    </div>
    
    <div id="content">
      <nav class="nav_wrapper flex">
        <div class ="nav_left flex ta_left">
          <h1><a href="/"><img alt="newscrap_logo" src="/imgs/logo_white.png"></a></h1>
          <div class="share-wrappear flex ta_center grid--medium">
            <ul>
              <li><a href=""><i class="i_default fi-comments"></i></a>
              </li>
              <li>
                <a href="http://twitter.com/share?text=NewScrap!でお気に入りの記事をスクラップしよう！&url=&hashtags=NewScrap&via=0keihaaan" onClick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=650, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1'); return false;" rel="nofollow"><i class="i_default fi-social-twitter"></i></a>
              </li>
              <li>
                <a href="https://www.facebook.com/dialog/feed?app_id=419866574778905&link=&&name=NewScrap!&caption=NewScrap!でお気に入りの記事をスクラップしよう！&redirect_uri=http://mocofp.com/&display=page"><i class="i_default fi-social-facebook"></i></a>
              </li>
              <li>
                <a href="mailto:umknown?subject=NewScrap!を使おう！&amp;NewScrap!でお気に入りの記事をスクラップしよう"><i class="i_default fi-mail"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <ul class="nav_ul_wrappear flex ta_right">
          <li><a href="javascript:w=window.open('/scrap','','scrollbars=yes,Width=600,Height=600');w.focus();"><i class="i_default fi-clipboard-pencil"></i></a></li>
          <li><a href="#search"><i class="i_default fi-magnifying-glass"></i></a></li>
          <li><a href="/analize"><i class="i_default fi-graph-bar"></i></a></li>
          <li><a href="/sign_out"><i class="i_default fi-lock"></i></a></li>
      </ul>
      </nav>

    
  <!--  <header class="flex">-->
  <!--    <div class="carender flex">-->
  <!--      <div class="carender-1 flex ta_center">-->
  <!--        <div id="year"></div>-->
  <!--        <p>年</p>-->
  <!--        <div id="month"></div>-->
  <!--        <p>月</p>-->
  <!--      </div>-->
  <!--      <div class="carender-2">-->
  <!--        <div id="date"></div>-->
  <!--        <p>日</p>-->
  <!--      </div>-->
  <!--    </div>-->
      
  <!--    <div class="headline">-->
  <!--      <h2>News Headline</h2>-->
  <!--      <div id="rss"></div>-->
  <!--  </div>-->
  <!--</header>-->
    
    <div class="main">
      <div class="contentBox">
       
        <div class="archive">
          <h2>Archive</h2>
            <div id="search">
              <form action="/article/search" method="post">
                  <input id="search_keyword" type="text" name="keyword" placeholder="key word" size="12">
                  <label class="select_category">
                    <select for="search_category" name="category">
                      <% @categories.name.each | params[:name] | do %>
                        <option value="<%= params[:name] %>"><%= params[:name] %></option>
                      <% end %>
                    </select>
                    <span class="select_category">Select Category</span>
                  </label>
                  <label for="search_souce"></label>
                  <select for="search_source" name="source">
                    <% #@articles.each do |article| %>
                      <% #article.souce.each do %>
                        <option value="<%= %>"><%= %></option>
                      <% #end %>
                    <% #end %>
                  </select>
                  <label for="search_date"></label>
                  <select id="search_date" name="date">
                    <% #.each do %>
                      <option value="<%= %>"><%= %></option>
                    <% #end %>
                  </select>
                  <input type="submit" name="submit" value="Search">
              </form>
            </div>
          <!--<table>-->
          <!--  <tr>-->
          <!--    <th></th>-->
          <!--  </tr>-->
            <!-- <% #.each do %> -->
            <!--<tr>-->
            <!--</tr>-->
            <!--<% #end %>-->
          <!--</table>-->
          
          
      <!--<div class="side-contents grid--medium">    -->
      <!--  <div class="latest">-->
      <!--    <h2>Latest Acticle</h2>-->
      <!--      <ul>-->
      <!--        <li><a href=""><%= %></a></li>-->
      <!--        <li><a href=""><%= %></a></li>-->
      <!--        <li><a href=""><%= %></a></li>-->
      <!--      </ul>-->
      <!--  </div>-->
      <!--</div>-->
        
      </div>
      </div>
    <footer class="flex ta_left">
      <p>(c)okeihaaan 2017 all rights reserved</p>
      <a href="javascript:w=window.open('/info_form','','scrollbars=yes,Width=500,Height=600');w.focus();">info</a>
    </footer>
  </div>
  
  <script type="text/javascript" src="//googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script type="text/javascript" src="/rss.js"></script>
  <script type="text/javascript" src="/main.js"></script>
  </body>
</html>